.project-layout {
    align-self: stretch;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    
    @include desktop {
        padding: 0 1.5rem;
    }

    @include tablet {
        padding: 0 1.25rem;
    }

    @include mobile {
        padding: 0 0.625rem;
    }


    .markdown {
        display: flex;
        flex-flow: column;

        .content-h1,
        .content-h2 {
            padding: 0.3rem;
            border-bottom: 0.0625rem solid $dark-gray-0;
        }

        .content-h1, .content-h2, .content-h3 {
            margin-bottom: 0.5rem;
        }

        .content-h1, .content-h2, .content-h3, .content-p {
            color: $dark-gray-1;
        }

        .content-a {
            color: $dark-gray-0;
        }

        .content-ul {
            margin-left: 1.25rem;
        }
    }

    h1.title {
        color: $dark-gray-1;
        padding: 0.3rem;
        border-bottom: 0.0625rem solid $dark-gray-0;
    }

    .post-tags {
        display: flex;
        flex-flow: row wrap;
        gap: 0.625rem;

        div.tag {
            display: inline-flex;
            padding: 0.125rem 0.625rem;
            justify-content: center;
            align-items: center;
            gap: 0.3125rem;
            border-radius: 0.25rem;
            background: $dark-gray-1;
            box-shadow: 0 0 0.25rem 0 rgb($black, 0.25) inset;
            color: $white;

            svg.tag-icon {
                width: 1rem;
                height: 1rem;
                fill: $white;
            }
        }
    }
}