button.btn {
    all: unset;
    overflow: hidden;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;

    @include centralRippleEffect;

    &:not(:disabled)::after {
        transform: scale(10, 10);
        border-radius: 100%;
    }

    &-primary {
        background-color: $red-1;
        box-shadow: 0px 0px 4px 4px rgba($black, 0.25) inset;
        color: $white;
        text-shadow: 0px 2px 2px rgba($black, 0.25);

        &:not(:disabled)::after {
            background: radial-gradient(circle, rgba($white, 0.75) 10%, transparent 0%)
        }

        &:hover:not(:disabled) {
            background-color: $red-2;
        }

        &:disabled {
            cursor: default;
            opacity: 0.6;
        }
    }

    &-secondary {
        border:  2px solid $red-1;
        color: $red-1;

        &:not(:disabled)::after {
            background: radial-gradient(circle, rgba($red-1, 0.75) 10%, transparent 0%)
        }

        &:hover:not(:disabled) {
            background-color: rgba($dark-gray-1, 0.05);
        }

        &:disabled {
            cursor: default;
            opacity: 0.4;
        }
    }

    &-tertiary {
        color: $red-1;
        padding: 0 !important;
        border-radius: 0 !important;
        
        &::after {
            content: "";
            border-radius: unset !important;
            height: 0.0625rem !important;
            width: 100% !important;
            position: absolute;
            top: unset !important;
            bottom: 0.0625rem;
            background-color: $red-1;
            opacity: 1 !important;
            transform: scale(1, 1) !important;
        }

        &:hover:not(:disabled) {
            color: $red-2;

            &::after {
                color: $red-2;
            }
        }

        &:disabled {
            cursor: default;
            opacity: 0.3;
        }
    }

    &-large {
        padding: 0.3125rem 1rem;
        gap: 0.3125rem;
        border-radius: 0.25rem;
    }

    &-medium {
       padding: 0.3125rem 0.75rem;
       gap: 0.25rem;
       border-radius: 0.25rem;
       font-size: 0.875rem;
    }

    &-small {
        padding: 0.125rem 0.5rem;
        gap: 0.1875rem;
        border-radius: 0.1875rem;
        font-size: 0.75rem;
    }

    span.icon {
        line-height: 0;

        &-primary {
            svg {
                fill: $white;
            }
        }

        &-secondary, &-tertiary {
            svg {
                fill: $red-1;
            }
        }

        &-large {
            svg {
                width: 0.875rem;
                height: 0.875rem;
            }
        }

        &-medium {
            svg {
                width: 0.75rem;
                height: 0.75rem;
            }
        }

        &-small {
            svg {
                width: 0.5rem;
                height: 0.5rem;
            }
        }
    }
}