@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import './typos';
@import './breakpoints';
@import './media';
@import './colors';
@import './guidelines';
@import './animations';

@import '../components/buttons/IconButton/iconButton.scss';
@import '../components/buttons/Button/button.scss';
@import '../components/navbar/NavLink/navLink.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden auto;

  @include desktop {
    padding: 1.5rem;
  }

  @include tablet {
    padding: 1.25rem;
  }

  @include mobile {
    padding: 0.625rem;
  }
}