a.icon-button, button.icon-button {
    all: unset;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    padding: 0.3125rem;
    cursor: pointer;
    line-height: 0;
    vertical-align: middle;

    @include centralRippleEffect;

    &::after {
        border-radius: 100%;
        background: rgba($white, 0.75);
    }
    
    &:hover {
        background: rgba($black, 0.1);
    }

    &:active {
        background: rgba($black, 0.1);
        box-shadow: 0px 2px 2px 0px rgba($black, 0.25);
    }
}