.icon-button {
    all: unset;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    padding: 0.3125rem;

    &:hover {
        background: rgba($black, 0.1);
    }

    &:focus {
        background: rgba($black, 0.1);
        box-shadow: 0px 2px 2px 0px rgba($black, 0.25);
    }
}