header.nav-header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: $white;
    box-shadow: 0px 4px 8px 0px rgba($black, 0.25);
    z-index: 3;

    @include desktop {
        padding: 0.125rem 1.5rem;
    }

    @include tablet {
        padding: 0.125rem  1.25rem;
    }

    @include mobile {
        padding: 0.125rem 0.625rem;
    }

    .flex-layout {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        
        .brand-icon {
            width: 3.4375rem;
            height: 3.4375rem;
        }
    }

    @include desktop {
        .modal, .modal-active {
            display: none;
        }

        .flex-layout {
            button:has(.hamb) {
                display: none;
            }

            .nav, .opened {
                display: flex;
                position: relative;
                overflow: hidden;
                max-width: max-content;
                gap: 1.25rem;
                align-items: center;

                .menu {
                    display: flex;
                    align-items: center;
                    gap: 1.25rem;
                    list-style: none;
                }

                .socials {
                    display: flex;
                    align-items: center;
                    gap: 0.3125rem;
                    list-style: none;

                    .icon {
                        width: 1.875rem;
                        height: 1.875rem;
                    }
                }
            }
        }
    }

    @include applyToMultipleMedia(tablet, mobile) {
        .modal {
            position: absolute;
            top:0;
            left: 0;
            display: none;
            background: rgba($dark-gray-1, 0.50);;
            width: 100dvw;
            height: 100dvh;
            z-index: 2;

            &.modal-active {
                display: block;
            }
        }

        .flex-layout {
            button:has(.hamb) {
                display: inline-block;
            }

            .hamb {
                width: 1.5625rem;
                height: 1.5625rem;
                fill: $dark-gray-1;
            }

            .nav {
                box-sizing: border-box;
                display: flex;
                flex-flow: column;
                align-items: flex-start;
                justify-content: space-between;
                position: absolute;
                overflow: hidden;
                background-color: $white;
                box-shadow: -2px 0px 2px 0px rgba($black, 0.25);
                top: 0;
                right:0;
                max-width: 0;
                width: 20rem;
                transition: max-width 0.5s ease-out;
                height: 100dvh;
                z-index: 3;

                &.opened {
                    max-width: 20rem;
                }

                
                .upper-part {
                    padding: 0.625rem 1.25rem 0 1.25rem;
                    align-self: stretch;
                    display: flex;
                    align-items: flex-start;
                    gap: 0.625rem;
                    flex-flow: column;

                    .menu {
                        display: flex;
                        align-self: stretch;
                        justify-content: center;
                        align-items: center;
                        list-style: none;
                        flex-flow: column;
                        gap: 0.625rem;
                    }
                }

                
                .lower-part {
                    align-self: stretch;
                    display: flex;
                    padding: 0.625rem 1.25rem 0.625rem 1.25rem;

                    .socials {
                        list-style: none;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        border-top: 0.0625rem solid $gray-0;
                        .icon {
                            width: 1.875rem;
                            height: 1.875rem;
                        }
                    }
                }
                
            }
        }
    }
}