div.iframe-container {
    all: unset;
    display: flex;
    flex-flow: column;
    background: $white;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba($black, 0.25);
    padding: 0.625rem;
    aspect-ratio: 16/9;
    max-height: 32rem;
    gap: 0.625rem;

    @include tablet {
        max-height: 28.125rem;
    }

    @include mobile {
        max-height: 17.8125rem;
    }

    &.full-width {
        align-self: stretch;
        width: 100%;
    }

    .title-and-dropdown {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        h3.title {
            color: $dark-gray-1
        }
    }

    iframe.iframe {
        all: unset;
        align-self: stretch;
        height: 100%;
        max-height: 29.8rem;

        @include mobile {
            min-height: 13rem;
        }
    }
}